@charset "UTF-8";
/* imports */
/* @import 'caminho/arquivo'; */
/* PADRÕES */
/* - RESET
  update - > 07/2018
  Anderson Lopes ->  niinoolopes0@gmail.com 
  @niinoolopes0
*/
* {
  box-sizing: border-box; }

html {
  font-size: 16px;
  line-height: 20px;
  font-family: sans-serif; }

body {
  margin: 0;
  padding: 0; }

/* TITULO - PARAGRAFOS*/
h1, h2, h3, h4, h5, h6, p, ul, ol {
  margin: 0; }

ul, ol {
  margin: 0;
  list-style: none; }

a {
  text-decoration: none;
  color: #000; }

a:hover {
  text-decoration: underline;
  color: #000; }

img {
  max-width: 100%; }

/* RESET - FIM */
/* - GRID
  update - > 09/2018
  Anderson Lopes ->  niinoolopes0@gmail.com 
  @niinoolopes0
*/
/*containers*/
.container.row,
.container.row-s,
.container.row-d,
.container.row-lg {
  padding-left: 0px;
  padding-right: 0px;
  margin-left: auto;
  margin-right: auto; }

.row,
.row-s,
.row-d,
.row-lg {
  margin-left: -8px;
  margin-right: -8px; }

/* GRID */
.container {
  padding-left: 8px;
  padding-right: 8px;
  margin-left: auto;
  margin-right: auto; }

.row {
  display: flex;
  flex-wrap: wrap; }

.col {
  flex-grow: 1;
  flex-basis: 0;
  width: 100%;
  padding-left: 8px;
  padding-right: 8px; }

.col-1 {
  flex-grow: 1;
  width: 8.33333%; }

.col-2 {
  flex-grow: 2;
  width: 16.66667%; }

.col-3 {
  flex-grow: 3;
  width: 25%; }

.col-4 {
  flex-grow: 4;
  width: 33.33333%; }

.col-5 {
  flex-grow: 5;
  width: 41.66667%; }

.col-6 {
  flex-grow: 6;
  width: 50%; }

.col-7 {
  flex-grow: 7;
  width: 58.33333%; }

.col-8 {
  flex-grow: 8;
  width: 66.66667%; }

.col-9 {
  flex-grow: 9;
  width: 75%; }

.col-10 {
  flex-grow: 10;
  width: 83.33333%; }

.col-11 {
  flex-grow: 11;
  width: 91.66667%; }

.col-12 {
  flex-grow: 12;
  width: 100%; }

/* GRID SMALL */
@media (min-width: 576px) {
  .container {
    max-width: 576px; }
  .row-s {
    display: flex;
    flex-wrap: wrap; }
  .col-s {
    flex-grow: 1;
    flex-basis: 0;
    width: 100%;
    padding-left: 8px;
    padding-right: 8px; }
  .col-s-1 {
    flex-grow: 1;
    width: 8.33333%; }
  .col-s-2 {
    flex-grow: 2;
    width: 16.66667%; }
  .col-s-3 {
    flex-grow: 3;
    width: 25%; }
  .col-s-4 {
    flex-grow: 4;
    width: 33.33333%; }
  .col-s-5 {
    flex-grow: 5;
    width: 41.66667%; }
  .col-s-6 {
    flex-grow: 6;
    width: 50%; }
  .col-s-7 {
    flex-grow: 7;
    width: 58.33333%; }
  .col-s-8 {
    flex-grow: 8;
    width: 66.66667%; }
  .col-s-9 {
    flex-grow: 9;
    width: 75%; }
  .col-s-10 {
    flex-grow: 10;
    width: 83.33333%; }
  .col-s-11 {
    flex-grow: 11;
    width: 91.66667%; }
  .col-s-12 {
    flex-grow: 12;
    width: 100%; } }

/* GRID MEDIO */
@media (min-width: 768px) {
  .container {
    max-width: 768px; }
  .row-m {
    display: flex;
    flex-wrap: wrap; }
  .col-m {
    flex-grow: 1;
    flex-basis: 0;
    width: 100%;
    padding-left: 8px;
    padding-right: 8px; }
  .col-m-1 {
    flex-grow: 1;
    width: 8.33333%; }
  .col-m-2 {
    flex-grow: 2;
    width: 16.66667%; }
  .col-m-3 {
    flex-grow: 3;
    width: 25%; }
  .col-m-4 {
    flex-grow: 4;
    width: 33.33333%; }
  .col-m-5 {
    flex-grow: 5;
    width: 41.66667%; }
  .col-m-6 {
    flex-grow: 6;
    width: 50%; }
  .col-m-7 {
    flex-grow: 7;
    width: 58.33333%; }
  .col-m-8 {
    flex-grow: 8;
    width: 66.66667%; }
  .col-m-9 {
    flex-grow: 9;
    width: 75%; }
  .col-m-10 {
    flex-grow: 10;
    width: 83.33333%; }
  .col-m-11 {
    flex-grow: 11;
    width: 91.66667%; }
  .col-m-12 {
    flex-grow: 12;
    width: 100%; } }

/* GRID LARGE */
@media (min-width: 1040px) {
  .container {
    max-width: 1040px; }
  .row-lg {
    display: flex;
    flex-wrap: wrap; }
  .col-lg {
    flex-grow: 1;
    flex-basis: 0;
    width: 100%;
    padding-left: 8px;
    padding-right: 8px; }
  .col-lg-1 {
    flex-grow: 1;
    width: 8.33333%; }
  .col-lg-2 {
    flex-grow: 2;
    width: 16.66667%; }
  .col-lg-3 {
    flex-grow: 3;
    width: 25%; }
  .col-lg-4 {
    flex-grow: 4;
    width: 33.33333%; }
  .col-lg-5 {
    flex-grow: 5;
    width: 41.66667%; }
  .col-lg-6 {
    flex-grow: 6;
    width: 50%; }
  .col-lg-7 {
    flex-grow: 7;
    width: 58.33333%; }
  .col-lg-8 {
    flex-grow: 8;
    width: 66.66667%; }
  .col-lg-9 {
    flex-grow: 9;
    width: 75%; }
  .col-lg-10 {
    flex-grow: 10;
    width: 83.33333%; }
  .col-lg-11 {
    flex-grow: 11;
    width: 91.66667%; }
  .col-lg-12 {
    flex-grow: 12;
    width: 100%; } }

/* styles pages GERAIS*/
header {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  background: transparent; }

.logo, .menu {
  display: inline-block; }
  @media (min-width: 768px) {
    .logo, .menu {
      display: block; } }

.logo-img {
  display: block;
  margin: auto;
  max-width: 150px;
  object-fit: cover; }
  @media (min-width: 768px) {
    .logo-img {
      max-width: 220px;
      max-height: 100px; } }

.menu-mobile {
  display: block; }
  @media (min-width: 576px) {
    .menu-mobile {
      display: none; } }

.menu-list {
  display: none;
  padding: 0; }
  @media (min-width: 576px) {
    .menu-list {
      display: flex;
      width: fit-content;
      margin: auto; } }

.menu-list a {
  padding: 12px 24px;
  display: block;
  text-transform: uppercase;
  font-weight: bold; }

/* menu ativo com scroll */
header.ativo {
  background: #fff;
  box-shadow: 0 2px 8px 1px rgba(0, 0, 0, 0.25); }

header.ativo .container {
  display: flex; }

header.ativo .logo-img {
  max-height: 40px; }

header.ativo .menu {
  width: 100%; }

header.ativo .menu-list a {
  text-align: center;
  padding: 12px 8px; }

/* styles pages PAGES*/
/*@import 'nome-arquivo.scss';*/
.intro {
  height: 100vh;
  padding-top: 250px;
  background: rgba(0, 0, 0, 0.33); }
  @media (min-width: 576px) {
    .intro {
      height: 650px; } }
  @media (min-width: 768px) {
    .intro {
      padding-top: 300px; } }

.intro-titulo,
.intro-btn {
  display: block;
  width: fit-content;
  margin: auto; }

.intro-titulo {
  font-size: 2em;
  text-align: center;
  line-height: 4; }
  @media (min-width: 768px) {
    .intro-titulo {
      font-size: 2.25em;
      line-height: 2; } }
  @media (min-width: 1040px) {
    .intro-titulo {
      font-size: 3em; } }

.intro-btn {
  font-size: 0.875em;
  padding: 0 24px;
  line-height: 2;
  border: 1px solid #0f1419; }
  @media (min-width: 768px) {
    .intro-btn {
      font-size: 1em;
      padding: 0 48px;
      line-height: 3; } }

.intro-btn:hover {
  text-decoration: none;
  animation: tremidinha 0.15s; }

@keyframes tremidinha {
  0% {
    margin-top: 0px; }
  25% {
    margin-top: 5px; }
  50% {
    margin-top: 0px; }
  75% {
    margin-top: 5px; }
  100% {
    margin-top: 0px; } }

.evento {
  padding: 24px 0; }
  @media (min-width: 768px) {
    .evento {
      padding: 32px 0; } }
  @media (min-width: 1040px) {
    .evento {
      padding: 48px 0; } }

.evento-bloco {
  margin-bottom: 24px; }
  @media (min-width: 576px) {
    .evento-bloco {
      margin-bottom: 0; } }

.evento-icone {
  display: block;
  margin: 16px auto;
  padding: 16px;
  border: 1px solid rgba(0, 0, 0, 0.33); }
  @media (min-width: 768px) {
    .evento-icone {
      margin: 28px auto; } }

.evento-titulo {
  text-align: center;
  font-size: 1.25em; }
  @media (min-width: 768px) {
    .evento-titulo {
      margin-bottom: 8px; } }

.evento-descricao.address {
  text-align: center; }

.evento-descricao {
  color: rgba(0, 0, 0, 0.66);
  text-align: center; }

.palestrante {
  background: rgba(0, 0, 0, 0.33); }

.palestrante::before {
  content: "";
  display: block;
  width: 100%;
  height: 100px;
  position: absolute;
  background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0) 100%); }

.palest-titulo {
  font-size: 2em;
  padding: 42px 8px; }
  @media (min-width: 768px) {
    .palest-titulo {
      padding: 42px 8px 32px;
      font-size: 2.5em; } }

.palest-lista {
  padding: 0 0 16px; }
  @media (min-width: 768px) {
    .palest-lista {
      padding: 8px 0 24px; } }
  @media (min-width: 1040px) {
    .palest-lista {
      padding: 16px 0 32px; } }

.palest-data {
  margin: 4px 0 16px;
  border-bottom: 1px solid;
  padding-bottom: 8px; }
  @media (min-width: 768px) {
    .palest-data {
      font-size: 1.5em;
      margin: 8px 0 28px; } }

.palest-item {
  padding: 4px 0 16px; }

.palestrante-foto,
.palest-text {
  margin: auto; }

.palest-foto {
  display: block;
  padding: 8px 0; }

.palest-img {
  display: block;
  margin: auto;
  border-radius: 50%;
  width: 100%;
  max-height: 200px;
  max-width: 200px;
  transition: 0.2s;
  box-shadow: 0 2px 4px 0 rgba(15, 20, 25, 0.5); }

.palest-img:hover {
  box-shadow: 0 1px 6px 2px rgba(15, 20, 25, 0.5); }

.palest-text {
  max-width: 330px;
  text-align: center; }

.palest-nome {
  font-size: 1.125em;
  margin: 8px 0 0; }

.palest-descricao {
  margin-bottom: 8px; }

.palest-contato img {
  border-radius: 50px;
  max-width: 35px;
  transition: 0.2s;
  box-shadow: 0 2px 4px 0 rgba(15, 20, 25, 0.5); }

.palest-contato img:hover {
  box-shadow: 0 1px 6px 2px rgba(15, 20, 25, 0.5); }

/* primeiro palestrante */
.palest-lista .palest-item:nth-of-type(1) {
  width: 100%; }
  @media (min-width: 576px) {
    .palest-lista .palest-item:nth-of-type(1) {
      display: flex; } }

@media (min-width: 576px) {
  .palest-lista .palest-item:nth-of-type(1) .palest-foto {
    width: 40%; } }

@media (min-width: 576px) {
  .palest-lista .palest-item:nth-of-type(1) .palest-img {
    max-height: 325px;
    max-width: 325px; } }

@media (min-width: 1040px) {
  .palest-lista .palest-item:nth-of-type(1) .palest-img {
    max-height: 400px;
    max-width: 400px; } }

@media (min-width: 576px) {
  .palest-lista .palest-item:nth-of-type(1) .palest-text {
    max-width: unset;
    padding: 0 16px;
    width: 60%;
    text-align: left; } }

@media (min-width: 576px) {
  .palest-lista .palest-item:nth-of-type(1) .palest-nome {
    font-size: 1.25em;
    margin: 16px 0; } }

@media (min-width: 768px) {
  .palest-lista .palest-item:nth-of-type(1) .palest-nome {
    font-size: 1.65em; } }

.cronograma::before {
  content: "";
  display: block;
  width: 100%;
  height: 100px;
  position: absolute;
  background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0) 100%); }

.cronog-titulo {
  font-size: 2em;
  padding: 42px 8px; }
  @media (min-width: 768px) {
    .cronog-titulo {
      padding: 42px 8px 32px;
      font-size: 2.5em; } }

.cronog-data {
  font-size: 1.5em;
  margin: 8px 0 12px;
  border-bottom: 1px solid;
  padding-bottom: 8px; }

/* estilo para tabelas */
.cronogt.table {
  margin: auto;
  width: 80%;
  padding: 0 0 16px; }
  @media (min-width: 768px) {
    .cronogt.table {
      padding: 8px 0 24px; } }
  @media (min-width: 1040px) {
    .cronogt.table {
      padding: 16px 0 32px; } }

.cronogt.tbody {
  box-shadow: 0 2px 4px 0 rgba(15, 20, 25, 0.5); }

.cronogt.tbody tr:nth-of-type(2n+0) {
  background: rgba(0, 0, 0, 0.05); }

.cronogt.tbody tr:nth-of-type(2n+1) {
  background: rgba(0, 0, 0, 0.1); }

.cronog-hora {
  font-weight: bold; }
  @media (min-width: 768px) {
    .cronog-hora {
      font-size: 1.25em; } }

.cronog-desc {
  width: 100%; }

.cronog-hora,
.cronog-desc {
  padding: 0 12px 0 12px;
  line-height: 2; }
  @media (min-width: 576px) {
    .cronog-hora,
    .cronog-desc {
      line-height: 2.33; } }
  @media (min-width: 768px) {
    .cronog-hora,
    .cronog-desc {
      line-height: 2.66; } }

/*@import 'nome-arquivo.scss';*/
/*@import 'nome-arquivo.scss';*/
