.cronograma::before{
    @include efeito_sombra()
}
.cronog-titulo{
    @include section_titulo()
}    
.cronog-titulo::after{
    @include section_titulo_separador()
}
.cronog-data{
    @include section_subtitulo()
}
.row.tab{
    margin: -12px 0 12px;  
    justify-content: space-around;
}
.tablinks{
    width: 32%; 
    background: rgba(0, 0, 0, 0.03);
    border: 1px solid rgba(0, 0, 0, 0.25);
    padding: 12px 0;
    font-weight: bold;
    font-size: 1em;
}
/* estilo para tabelas */
.cronogt.table{
    margin: auto;  

    padding: 0 8px 16px;
    @include device(M){
        padding: 8px 10px 24px;
    }
    @include device(L){
        padding: 16px 10px 32px;
    }  
}
.cronogt.thead{
}
.cronogt.tbody{
    box-shadow: 0 2px 4px 0 rgba(15, 20, 25, 0.5);
}
// background
.cronogt.tbody tr:nth-of-type(2n+0){
    background: rgba(0, 0, 0, 0.05);
}
.cronogt.tbody tr:nth-of-type(2n+1){
    background: rgba(0, 0, 0, 0.10);
}
.cronog-hora{
    font-weight: bold;
    @include device(M){
        font-size: 1.25em; 
    }
}
.cronog-desc{ 
    width: 100%;
}
.cronog-hora,
.cronog-desc{
    padding: 0 12px 0 12px;
    line-height: 2;
    @include device(S){
        line-height: 2.33
    }
    @include device(M){
        line-height: 2.66
    }
}