.evento{
    padding: 24px 0;
    @include device (M){
        padding: 32px 0;
    }
    @include device (L){
        padding: 48px 0;
    }
}
.evento-bloco{
    margin-bottom: 24px;
    @include device(S){
        margin-bottom: 0;
    }
}
.evento-icone{
    display: block;
    margin: 16px auto;
    padding: 16px;
    border: 1px solid rgba(0, 0, 0, 0.33);
    @include device(M){
        margin: 28px auto;
    }
}
.evento-titulo{
    text-align: center;
    font-size: 1.25em;
    @include device(M){
        margin-bottom: 8px;
    }
}
.evento-descricao.address{
    text-align: center;
}
.evento-descricao{
    color: rgba(0, 0, 0, 0.66);
    text-align: center;
}

/* eventos slide */
/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
  }
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
  }
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
.active, .dot:hover {
    background-color: #717171;
  } 

/* Fading animation */
.fade { 
    animation-name: fade;
    animation-duration: 1.5s;
  } 
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }